<div class="container banner">
    <img src="assets/facebook.jpg" alt="" class="img-fluid">
</div>
<div class="container stock-photos">
    <div class="row">
        <div class="col-md-3">
            <img src="assets/stock1.png" alt="" class="img-fluid">
        </div>
        <div class="col-md-3">
            <img src="assets/stock2.png" alt="" class="img-fluid">
        </div>
        <div class="col-md-3">
            <img src="assets/stock3.png" alt="" class="img-fluid">
        </div>
        <div class="col-md-3">
            <img src="assets/stock4.png" alt="" class="img-fluid">
        </div>
    </div>
</div>
